
@{
    Layout = null;
}
@model PROG123.Models.PersonModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deleted</title>
</head>
<body>
    <h1>Deleted</h1>
</body>
</html>
